modules = ["web", "python-3.12", "nodejs-20"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["cacert", "cargo", "freetype", "lcms2", "libffi", "libiconv", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "openssl", "pgadmin4", "pkg-config", "rustc", "tcl", "tk", "zlib"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py runserver 0.0.0.0:5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind=0.0.0.0:5000", "--reuse-port", "tuitionmedia.wsgi:application"]
build = ["bash", "-c", "python manage.py collectstatic --noinput && python manage.py migrate"]

[userenv]

[userenv.shared]
SMS_BACKEND = "console"
VAPID_PUBLIC_KEY = "BDbGTGXsOogLG2X-KkPip0CiTUlP30YwJu6ILIHwFkB4zO_BnsyYRoNPaTS7KXlk8BklCx8YpTh1MOronlVTZQE"
VAPID_PRIVATE_KEY_B64 = "LS0tLS1CRUdJTiBFQyBQUklWQVRFIEtFWS0tLS0tCk1IY0NBUUVFSUtGK1puZTFNemptcm43NlpiK09JeDR4R1RWMFpQNWdwQTI0T05Ickp4NHdvQW9HQ0NxR1NNNDkKQXdFSG9VUURRZ0FFTnNaTVpldzZpQXNiWmY0cVErS25RS0pOU1UvZlJqQW03b2dzZ2ZBV1FIak03OEdlekpoRwpnMDlwTkxzcGVXVHdHU1VMSHhpbE9IVXc2dWllVlZObEFRPT0KLS0tLS1FTkQgRUMgUFJJVkFURSBLRVktLS0tLQo"
VAPID_CLAIMS_EMAIL = "admin@tuitionmedia.com"
